<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATM</title>
</head>
<body>
    <center>
        <h1>LOGIN</h1>
        <br>
        <div class="login_continer">
            <h2>Account Login</h2>
            <br>
            <form id="login_form">
                <label>Acc No</label>
                <input type="text" name="accno"  id="accno">
                <br><br>
                <label>PIN</label>
                <input type="text" name="pin" id="pin">
                <br><br>
                <button type="submit">LOG IN</button><br><br>
                <button type="button">Register Account</button>

            </form>
        </div>
    </center>
    
    
</body>
</html>